%h1 ステップ3
= form_for @address, url: step4_signup_index_path, method: :post, html: {class: 'fortn-main__box'} do |f|
  = f.text_field :postal_code, placeholder: '例) 郵便番号'
  = f.text_field :prefacture, placeholder: '例) 都道府県'
  = f.text_field :city, placeholder: '例) 市区町村'
  = f.text_field :house_number, placeholder: '例) 番地'
  = f.text_field :building_name, placeholder: '例) 建物名'
  = f.submit 'Send', class: 'form__submit'