= render "user_header"

.contents
  .content
    .content__head
      %p 電話番号の確認
    .content__box
      .content__boxes
        .content__form
          = form_for @user, url: step3_signup_index_path, method: :post do |f|
            = f.label :phone_number, '携帯電話の番号', class: 'label__title'
            = f.text_field :phone_number, class: 'input__form', placeholder: '携帯電話の番号入力'

            本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
            %button{type:"submit", class:"content__btn"}
              SMSを送信する

            ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。

        .content__bottom
          =link_to '#' do
            電話番号が必要な理由
            .i-class
              >

.footer
= render "user_footer"