= render "user_header"

%main.single-main
  .register-head
    %h2 会員情報入力
  .register-form
    = form_for @user, url: step2_signup_index_path, method: :post do |f|
      .form
        = f.label :nickname, 'ニックネーム', class: 'form-label'
        %span.form-require
        = f.text_field :nickname, class: 'form-input', placeholder: '例) メルカリ太郎'

      .form
        = f.label :email, 'メールアドレス', class: 'form-label'
        %span.form-require
        = f.email_field :email, class: 'form-input', placeholder: 'PC・携帯どちらでも可'

      .form.password
        = f.label :password, 'パスワード', class: 'form-label'
        %span.form-require
        = f.password_field :password, class: 'form-input', placeholder: '7文字以上の半角英数字'
        %p.form-info ※ 英字と数字の両方を含めて設定してください
        %input{type:"checkbox", class:"check"} パスワードを表示する

      .form
        %h3 本人確認
        %p 安心・安全にご利用いただくために、お客さまの本人情報の登録にご協力ください。他のお客さまに公開されることはありません。

      .form
        = f.label :family_name, 'お名前(全角)', class: 'form-label-half'
        %span.form-require
        = f.text_field :family_name, class: 'form-input-half', placeholder: '例）山田'
        = f.text_field :first_name, class: 'form-input-half', placeholder: '例）彩'

      .form
        = f.label :family_name_kana, 'お名前カナ(全角)', class: 'form-label-half'
        %span.form-require
        = f.text_field :family_name_kana, class: 'form-input-half', placeholder: '例）ヤマダ'
        = f.text_field :first_name_kana, class: 'form-input-half', placeholder: '例）アヤ'

      .form
        = f.label :birthday, '生年月日', class: 'form-label'
        %span.form-require
        .birthday-select
          = f.select :birthdate_year, options_for_select(1900..2019), include_blank: '--', class: "birthday"
          %span 年
          = f.select :birthdate_month, options_for_select(1..12), include_blank: '--', class: "birthday"
          %span 月
          = f.select :birthdate_day, options_for_select(1..31), include_blank: '--', class: "birthday"
          %span 日

      .form.info
        %p.form-info  
          ※ 本人情報は正しく入力してください。会員登録後、修正するにはお時間を頂く場合があります。

      .form
        .recaptcha-check
          %input{type:"checkbox", class:"recaptcha"} 私はロボットではありません

      .form
        %p
        「次へ進む」のボタンを押すことにより、
        %a{href: '#'} 利用規約
        に同意したものとみなします
        .next-btn
          %button{type:"submit",class:"btn-red"}
            次へ進む

      .form
        %p.single-text
          %a{href: '#'} 本人情報の登録について

= render "user_footer"
