= render "user_header"

%main.single-main
  .register-head お届け先住所入力
  .register-form
    = form_for @address, url: step4_signup_index_path, method: :post do |f|
      .form
        = f.label :postal_code, '郵便番号', class: 'form-label'
        %span.form-require 
        = f.text_field :postal_code, placeholder: "例）123-4567", class: 'form-input'
      .form
        = f.label :prefecture_id, '都道府県', class: 'form-label'
        %span.form-require 
        = f.collection_select :prefecture_id, Prefecture.all, :id, :name, class: 'form-input', prompt: "---"
      .form  
        = f.label :city, '市区町村', class: 'form-label'
        %span.form-require 
        = f.text_field :city, placeholder: "市区町村", class: 'form-input'
      .form
        = f.label :house_number, '番地', class: 'form-label'
        %span.form-require 
        = f.text_field :house_number, placeholder: "例）青山1-1-1", class: 'form-input'
      .form
        = f.label :building_name, '建物名', class: 'form-label'
        %span.form-require--gray 
        = f.text_field :building_name, placeholder: "例）柳ビル103", class: 'form-input'
      -#.form
        = f.label :phone_number, '携帯電話の番号', class: 'form-label'
        %span.form-require--gray 
        = f.text_field :phone_number, placeholder: "例）09012345678", class: 'form-input'
      .form
        .next-btn
          %button{type:"submit",class:"btn-red"}
            登録する

= render 'user_footer'