= render "user_header"

.call__content
  .contents
    .content
      .content__head
        %p 支払い方法
      .content__boxtt
        .content__boxestt
          .content__formtt
            = form_with url: signup_index_path, method: :post, html: { name: "inputForm" } do |f|
              = f.label :card_number, 'カード番号', class: 'label__title'
              %span{class: "form__text"} 必須
              = f.text_field :card_number, type: 'text', class: 'input__form', placeholder: '半角数字のみ'

              %ul.card__icon
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2356214421", width: "49", height: "20" 
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2356214421", width:"34", height:"20"
                %li  
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2356214421", width:"30", height:"20"
                %li  
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2356214421", width:"32", height:"20"
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2356214421", width:"21", height:"20"
                %li
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2356214421", width:"32", height:"20"
                %li  
                  = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2356214421", width:"32", height:"20"

                .content__limit
                  %label{class: "label__title"} 有効期限
                  %span{class: "form__text"} 必須
                  %br

                  .content__select
                    = f.select :exp_month,  [["01",1],["02",2],["03",3],["04",4],["05",5],["06",6],["07",7],["08",8],["09",9],["10",10],["11",11],["12",12]], {}, class: 'select__box'
                    =fa_icon 'angle-down', class: "select__icon"
                    %span{class: "select__span"} 月

                  .content__select
                    = f.select :exp_year, [["17",2017],["18",2018],["19",2019],["20",2020],["21",2021],["22",2022],["23",2023],["24",2024],["25",2025],["26",2026],["27",2027],["28",2028],["29",2029]], {}, class: 'select__box'
                    =fa_icon 'angle-down', class: "select__icon"
                    %span{class: "select__span"} 年

                .content__code
                  = f.label :security_cord, 'セキュリティコード', class: 'label__title'
                  %span{class: "form__text"} 必須
                  = f.text_field :cvc, type: 'text', class: 'input__form', placeholder: 'カード背面4桁もしくは3桁の番号'

                  .bottom__info
                    .bottom__box#card_token
                      %span{class: "bottom__span"} ?
                      カード裏面の番号とは？
                      = f.submit '追加する', class: 'content-bottom--add-btn', id: 'token_submit'
                -#%button{type:"submit", class:"content__btn", id: 'token_submit'}
                  次へ進む

  .footer 
  = render "user_footer"

:javascript
  document.addEventListener(
  "DOMContentLoaded", (e) => {
    Payjp.setPublicKey("pk_test_d660c0adcca783612b55fd8c");
    const btn = document.getElementById('token_submit'); //IDがtoken_submitの場合に取得されます
    btn.addEventListener("click", (e) => {　//ボタンが押されたときに作動します
      e.preventDefault();　//ボタンを一旦無効化します

      //カード情報生成
      const card = {
        number: document.getElementById("card_number").value,
        cvc: document.getElementById("cvc").value,
        exp_month: document.getElementById("exp_month").value,
        exp_year: document.getElementById("exp_year").value
      }; //入力されたデータを取得します。
      console.log(card)

      //トークン生成
      Payjp.createToken(card, (status, response) => {
        if (status === 200) { //成功した場合
          $("#card_number").removeAttr("name");
          $("#cvc").removeAttr("name");
          $("#exp_month").removeAttr("name");
          $("#exp_year").removeAttr("name"); //カード情報を自分のサーバにpostせず削除します
          $("#card_token").append(
            $('<input type="hidden" name="payjp-token">').val(response.id)
          ); //トークンを送信できるように隠しタグを生成
          document.inputForm.submit();
          alert("登録が完了しました"); //確認用
        } else {
          alert("カード情報が正しくありません。"); //確認用
        }
      });
    });
  },false);