
<%# -------------------------information始まり-----------------------------------%>
<div class="mypage-information">
 
  <div class="mypage-information__header">
    <%= link_to "" do%>
    <div class="mypage-information__header__profile">
      <%= image_tag "sample1.jpg", width:"60px", height:"60px"%>  <%# usersモデルのimageをmigrationファイルに入れる%>
      <p>テストネーム</p>  <%#<%= @users.nickname(current_user)%>
      <div class="mypage-information__header__profile__transaction">
        <p>評価&nbsp;<span>100</span></p>  <%# usersモデルの評価変数をmigrationファイルに入れる%>
        <p>出品数&nbsp;<span>100</span></p>  <%# usersモデルの出品数変数をmigrationファイルに入れる%>
      </div>  <%# mypage-information__header__profile__transaction%>
    </div>  <%# mypage-information__header__profile %>
    <% end %>
  </div>  <%# mypage-information__header終わり%>
  
  <div class="mypage-information__container">
    <div class="mypage-information__container__heading">
      <%= link_to users_path(current_user) do %>
        <ul>
          <li><input type="button" value="お知らせ" id="mypage-heading1"></li>
          <li><input type="button" value="やることリスト" id="mypage-heading2"></li>
        </ul>
      <% end %>
    </div>  <%# mypage-information__container__headingの終わり%>

    <div class="mypage-information__container__contents" id="mypage-content">
    <%= link_to "" do %>
      <div class="mypage-information__container__contents__content">
        <%= image_tag "sample1.jpg", width:"48px", height:"48px" %>
        <div class="mypage-information__container__contents__content__detail">
          <p>いいねしました。</p>  <%# likestableができたら、誰が（複数）何（商品）にいいねしました!!!を変数で記入%>
          <time class="mypage-time">
            <i class="fa fa-clock" aria-hidden="true"></i>
            <p>22時間</p>  <%# <%= user.created_at.strftime('%d %H') %>
          </time>
        </div>
         <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>  <%# mypage-information__container__contents__content終わり%>
     <% end %>
     
      <div class="mypage-information__container__contents__content__go">
        <%= link_to  do %>
          <input type="button" value="一覧を見る" id="mypage-details">
        <% end %>
      </div>  <%# mypage-information__container__contents__content__go終わり%>
    </div>  <%# mypage-information__container__contents終わり%>
  </div>  <%# mypage-information__container終わり%>
  
  <div class="mypage-information__container">
    <h3>購入した商品</h3>
    <div class="mypage-information__container__heading">
      <%= link_to users_path(current_user) do %>
        <ul>
          <li><input type="button" value="取引中" id="mypage-heading1"></li>
          <li><input type="button" value="過去の取引" id="mypage-heading2"></li>
        </ul>
      <% end %>
    </div>  <%# mypage-information__container__heading終わり %>

    <div class="mypage-information__container__contents" id="mypage-content">
    <%= link_to "" do %>
      <div class="mypage-information__container__contents__content">
        <%= image_tag "sample1.jpg", width:"48px", height:"48px" %>
        <div class="mypage-information__container__contents__content__detail">
          <p>取引が完了しました</p><%# likestableができたら、誰が（複数）何（商品）にいいねしました!!!を変数で記入%>
          <p>取引完了</p><%# <%= user.created_at.strftime('%d %H') %>
        </div>
         <i class="fa fa-chevron-right" aria-hidden="true"></i>
      </div>  <%# mypage-information__container__contents__content終わり%>

      <div class="mypage-information__container__contents__content__go">
        <%= link_to  do %>
          <input type="button" value="一覧を見る" id="mypage-details">
        <% end %>
      </div><%# mypage-information__container__contents__content終わり%>
    </div> <%# mypage-information__container__contents終わり%>
    <% end %>
  </div><%# mypage-information__container終わり%>

</div><%# mypage-informatio終わり%>

<%# -------------------------information終わり-----------------------------------%>
