= render 'items/header.show'
= render "users-navigation"
.mypage-container
  = render 'users/users-sidebar'
  .mypage-cardlist-content
    %section.content-chapter
      %h2.content-chapter__head 支払い方法
      .content-chapter__single-inner
        .single-conent
          %h3.single-content__sub-head クレジットカード一覧
        %ul.payment-list
          %li
            %form.single-inner__content
              %figure
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2356214421", width: "49", height: "20" 
              .settings-payment-num ************4242
              .settings-payment-num 12/20
              %button.settings-payment-remove 削除する
        .settings-not-regist
          = link_to '#', class: 'payment-method' do
            %span 支払い方法について
            %i.fas.fa-angle-right
= image_tag 'top-page-header.jpg', class: 'footer-image'
= render '/items/footer'