
<%# <% binding.pry %> 
<%# -----------------------navigation始まり-------------------------------%>
<div class="navigation">  <%# header直下、現在ページ確認用%>
  <div class="navigation__container">
    <div class="navigation__container__content">
      <%= link_to "" do %>
          <span>メルカリ&nbsp;</span>  <%# &nbsp;はスペースを開けるために記載 %>
          <i class="fa fa-angle-right" aria-hidden="true"></i>
          <span>&nbsp;マイページ</span>
      <% end %>
    </div>
  </div>
</div>
<%# -----------------------navigation終わり-------------------------------%>

<div class="mypage">
<div class="mypage__main">

<%# -----------------------users-sidebar始まり-----------------------------------%>

  <%= render "users-sidebar"%>

<%# -----------------------users-sidebar終わり-----------------------------------%>

<%# -----------------------users-information始まり-----------------------------------%>

  <%= render "users-information"%>

<%# -----------------------users-information終わり-----------------------------------%>

</div>
</div>








    <%# <div class="mypage-information__container__details" id="mypage-details_transaction">
      <% @users.each do |detail|%> 
        <%# <div class="mypage-information__container__contents__content"> %>
          <%# <%= image_tag "sample1.jpg" %> 
          <%# <p>いいねしました</p>likestableができたら、誰が（複数）何（商品）にいいねしました!!!を変数で記入 %>
          <%# <p>22時間前</p><%= user.created_at.strftime('%d %H') %>
        <%# </div> %>
      <%# <% end %> 
    <%# </div>mypage-information__container__details終わり %>
    
