.main
  = render 'items/header.show'
  = render "users-navigation"
.mypage
  .mypage__main
    = render 'users/users-sidebar'
    .single-main 
      .single-inner
        .btn
        = link_to destroy_user_session_path, method: :delete do
          %button{type:"submit",class:"btn-red"}
            ログアウト
.foot 
  = image_tag 'top-page-header.jpg', class: 'footer-image'
  = render 'items/footer'