= render '/items/header.show'
= render "users-navigation"
.users-edit
  .users-edit__wrap
    = render "users/users-sidebar"
    = render "users/users-edit-content"
= image_tag 'top-page-header.jpg', class: 'footer-image'
= render '/items/footer' 