.login-page
  = render 'items/header.new'
  .login-page-main
    .main__header
      %p アカウントをお持ちでない方はこちら
      = link_to '新規会員登録', signup_index_path, class: 'signup-btn'
    .main
      = link_to '#', class: 'facebook-btn' do
        %i.fab.fa-facebook-square
        Facebookでログイン
      = link_to '#', class: 'google-btn' do
        %i.fab.fa-google
        Googleでログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .field
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'メールアドレス', class: 'text-field'
        .field
          %br/
          = f.password_field :password, autocomplete: "current-password", placeholder: 'パスワード', class: 'text-field'
        -# - if devise_mapping.rememberable?
        -#   .field
        -#     = f.check_box :remember_me
        -#     = f.label :remember_me
        .actions
          = f.submit "ログイン", class: 'login-btn'
          = link_to "パスワードをお忘れの方", new_password_path(resource_name), class: 'password-link'
  = render 'signup/user_footer'
