.call__content
  .header
    
  .contents
    .content
      .content__head
        %p 支払い方法
      .content__boxtt
        .content__boxestt
          .content__formtt  
            %label{class: "label__title"} カード番号
            %span{class: "form__text"} 必須
            %input{placeholder: "半角数字のみ", class: "input__form" }
            %ul.card__icon
              %li
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2356214421", width: "49", height: "20" 
              %li
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2356214421", width:"34", height:"20"
              %li  
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2356214421", width:"30", height:"20"
              %li  
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2356214421", width:"32", height:"20"
              %li
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2356214421", width:"21", height:"20"
              %li
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2356214421", width:"32", height:"20"
              %li  
                = image_tag "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2356214421", width:"32", height:"20"
                
                
          
          .content__limit
            %label{class: "label__title"} 有効期限
            %span{class: "form__text"} 必須
            %br
          
            .content__select
              %select{class: "select__box"}
                %option{value: "01"} 01
                %option{value: "02"} 02
                %option{value: "03"} 03
                %option{value: "04"} 04
                %option{value: "05"} 05
                %option{value: "06"} 06
                %option{value: "07"} 07
                %option{value: "08"} 08
                %option{value: "09"} 09
                %option{value: "10"} 10
                %option{value: "11"} 11
                %option{value: "12"} 12
              =fa_icon 'angle-down', class: "select__icon"
              %span{class: "select__span"} 月

            .content__select
              %select{class: "select__box"}  
                %option{value: "19"} 19
                %option{value: "20"} 20
                %option{value: "21"} 21
                %option{value: "22"} 22
                %option{value: "23"} 23
                %option{value: "24"} 24
                %option{value: "25"} 25
                %option{value: "26"} 26
                %option{value: "27"} 27
                %option{value: "28"} 28
                %option{value: "29"} 29
              =fa_icon 'angle-down', class: "select__icon"
              %span{class: "select__span"} 年


          .content__code
            %label{class: "label__title"} セキュリティーコード
            %span{class: "form__text"} 必須
            %input{placeholder: "カード背面4桁もしくは3桁の番号", class: "input__form" }
            .bottom__info
              .bottom__box
                %span{class: "bottom__span"} ?
                カード裏面の番号とは？
              
          = link_to '#', class: 'content__btn' do
            次へ進む

  .footer