%header
  .show-page__header
    .show-page__header-above
      = link_to root_path do
        = image_tag 'fmarket_logo_red.svg', class: 'header-logo'
      %input{tepe: 'text', placeholder: '何かお探しですか?', class: 'search-box'} 
      %i.fas.fa-search
    .show-page__header-below
      .show-page__header-below-left
        .search__lists
          .search__list-right
            %a{href: '#'}
              %i.fas.fa-list
              カテゴリーから探す
          .search__list-left
            %a{href: '#'}
              %i.fas.fa-tags
              ブランドから探す
      .show-page__header-below-right
        = link_to '#' do
          %i.far.fa-heart
          いいね！一覧
        = link_to '#' do
          %i.far.fa-bell
          お知らせ
        = link_to '#' do
          %i.fas.fa-check
          やることリスト
        = link_to user_path(current_user) do
          %i.far.fa-user-circle
          マイページ