.main
  .bg__header
    .main__header
      .main__header-text
        %h1 商品一覧
      .main__header-lists
        %ul.categories
          %li
            = link_to 'レディース', '#'
          %li
            = link_to 'メンズ', '#'
          %li
            = link_to '家電・スマホ・カメラ', '#'
          %li
            = link_to 'おもちゃ・ホビー・グッズ', '#'
  .bg__contents
    .main__contents
      .main__contents-text
        %h1 新着アイテム
        = link_to '#', class: 'view__content' do
          %p もっと見る
          %i.fas.fa-arrow-right
      %ul.main__contents-lists
        - @items.each do |item|
          %li.main__content
            = link_to item_path(item), class: 'content__anchor' do
              .content-above
                = image_tag item.images.first, class: 'content__image'
                = tag.span item.price, class: 'content__price'
              .content-below
                = simple_format item.description, class: 'content__text'



