.main
  .bg__header
    .main__header
      .main__header-text
        %h1 商品一覧
      .main__header-lists
        %ul.categories
          %li
            = link_to 'レディース', '#'
          %li
            = link_to 'メンズ', '#'
          %li
            = link_to '家電・スマホ・カメラ', '#'
          %li
            = link_to 'おもちゃ・ホビー・グッズ', '#'
  .bg__contents
    .main__contents
      .main__contents-text
        %h1 新着アイテム
        = link_to '#', class: 'view__content' do
          %p もっと見る
          %i.fas.fa-arrow-right
      %ul.main__contents-lists
        %li.main__content
          = link_to '#', class: 'content__anchor' do
            .content-above
              = image_tag asset_path("sample2.jpg"), class: 'content__image'
              %span ¥60,000
            .content-below
              %p.content__text 財布です。海に落としたので磯の香りがします。プレミア価格で販売します。
        %li.main__content
          = link_to '#', class: 'content__anchor' do
            .content-above
              = image_tag asset_path("sample2.jpg"), class: 'content__image'
              %span ¥60,000
            .content-below
              %p.content__text 財布です。海に落としたので磯の香りがします。プレミア価格で販売します。
        %li.main__content
          = link_to '#', class: 'content__anchor' do
            .content-above
              = image_tag asset_path("sample2.jpg"), class: 'content__image'
              %span ¥60,000
            .content-below
              %p.content__text 財布です。海に落としたので磯の香りがします。プレミア価格で販売します。
        %li.main__content
          = link_to '#', class: 'content__anchor' do
            .content-above
              = image_tag asset_path("sample2.jpg"), class: 'content__image'
              %span ¥60,000
            .content-below
              %p.content__text 財布です。海に落としたので磯の香りがします。プレミア価格で販売します。
        %li.main__content
          = link_to '#', class: 'content__anchor' do
            .content-above
              = image_tag asset_path("sample2.jpg"), class: 'content__image'
              %span ¥60,000
            .content-below
              %p.content__text 財布です。海に落としたので磯の香りがします。プレミア価格で販売します。
        %li.main__content
          = link_to '#', class: 'content__anchor' do
            .content-above
              = image_tag asset_path("sample2.jpg"), class: 'content__image'
              %span ¥60,000
            .content-below
              %p.content__text 財布です。海に落としたので磯の香りがします。プレミア価格で販売します。
        %li.main__content
          = link_to '#', class: 'content__anchor' do
            .content-above
              = image_tag asset_path("sample2.jpg"), class: 'content__image'
              %span ¥60,000
            .content-below
              %p.content__text 財布です。海に落としたので磯の香りがします。プレミア価格で販売します。
        %li.main__content
          = link_to '#', class: 'content__anchor' do
            .content-above
              = image_tag asset_path("sample2.jpg"), class: 'content__image'
              %span ¥60,000
            .content-below
              %p.content__text 財布です。海に落としたので磯の香りがします。プレミア価格で販売します。
        %li.main__content
          = link_to '#', class: 'content__anchor' do
            .content-above
              = image_tag asset_path("sample2.jpg"), class: 'content__image'
              %span ¥60,000
            .content-below
              %p.content__text 財布です。海に落としたので磯の香りがします。プレミア価格で販売します。
        %li.main__content
          = link_to '#', class: 'content__anchor' do
            .content-above
              = image_tag asset_path("sample2.jpg"), class: 'content__image'
              %span ¥60,000
            .content-below
              %p.content__text 財布です。海に落としたので磯の香りがします。プレミア価格で販売します。



