
= render 'layouts/flash'
.top-page
  - if user_signed_in?
    =  render 'header.show'
  - else
    = render 'header'
  .top-page__header-image
    = image_tag 'top-page-header.jpg', class: 'header-image'
  .top-page__section-pic
  = render 'main'
  = link_to new_item_path, class: 'red-btn' do
    %p 出品
    %i.fas.fa-camera
  .top-page__footer-image
    = image_tag 'top-page-header.jpg', class: 'footer-image'
  = render 'footer'