.new-page
  = render 'header.new'
  .new-page__main
    .new-page__main-forms
      .new-page__main-forms__header
        %h1 商品の状態を入力
      .new-page__main__form
        = form_for(@item, url: items_path) do |f|
          = render 'layouts/error_messages', model: f.object
          %h1 出品画像 
          %span 必須
          %p 最大10枚までアップロードできます
          .image_box
            = f.label :images, class: 'form__mask__image' do
              = f.file_field :images, multiple: true, class: 'image__form'
            .image-placeholder
              %h3 ドラッグアンドドロップ
              %h3 またはクリックしてファイルをアップロード
          .new-page__main__form.item__form
            %h1 商品名
            %span 必須
            = f.text_field :name, placeholder: '商品名 (必須40文字まで)', class: 'item-name__form'
            %h1 商品の説明
            %span 必須
            = f.text_area :description, placeholder: '商品の説明 (必須1,000文字以内) (色、素材、重さ、定価、注意点など)  例) 2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。', class: 'item-description__form'
          .new-page__main__form.item-details
            .form-left
              %p 商品の詳細
            .form-right
              %h1 カテゴリー
              %span 必須
              = f.select :category, ["レディース","メンズ","ベビー・キッズ","インテリア・住まい・小物","本・音楽・ゲーム","おもちゃ・ホビー・グッズ","コスメ・香水・美容","家電・スマホ・カメラ","スポーツ・レジャー","ハンドメイド","チケット","自転車・オートバイ","その他"], {prompt: "---"}, {class: 'select'}
              %h1 商品の状態
              %span 必須           
              = f.select :condition, ["新品","未使用","未使用に近い","目立った傷や汚れなし","やや傷や汚れあり","傷や汚れあり","全体的に状態が悪い"], {prompt: "---"}, {class: 'select'}
          .new-page__main__form.about-postage
            .form-left
              %p 配送について
              = link_to '#' do
                %i.fas.fa-question-circle
            .form-right
              %h1 配送料の負担
              %span 必須
              = f.select :feepayer, ["送料込み(出品者負担)","着払い(購入者負担)"], {prompt: "---"}, {class: 'select'}
              %h1 配送の方法
              %span 必須
              = f.select :method, ["未定","らくらくメルカリ便","ゆうメール","レターパック","クロネコヤマト","ゆうパック","クリップポスト","ゆうパケット"], {prompt: "---"}, {class: 'select'}
              %h1 配送元の地域
              %span 必須
              = f.collection_select :region_id, Prefecture.all, :id, :name, prompt: "---", class: 'input'
              %h1 発送までの日数
              %span 必須
              = f.select :days, ["1〜2日で発送", "2〜3日で発送", "4〜7日で発送"], {prompt: "---"}, {class: 'select'}
          .new-page__main__form.about-price
            .form-left
              %p 販売価格(300〜9,999,999)
              = link_to '#' do
                %i.fas.fa-question-circle
            .form-right
              .form-right-top
                %h1 価格
                %span 必須
                %p ¥
                = f.number_field :price, placeholder: '例) 300', class: 'input-price'
              .form-right-middle
                %p 販売手数料(10%)
                %h2 -
              .form-right-bottom
                %h1 販売利益
                %p -
          .new-page__main__form.sell-item
            %p.line-1
              = link_to '禁止されている出品', '#'
              %p 、
              = link_to '行為', '#'
              %p を必ずご確認ください。
            %p.line-2
              %p またブランド品でシリアルナンバー等がある場合はご記載ください。
              = link_to '偽ブランドの販売', '#'
              %p は犯罪であり処罰される可能性があります。
            %p.line-4
              %p また、出品をもちまして
              = link_to '加盟店規約', '#'
              %p に同意したことになります。
              = f.submit '出品する', class: 'sell-btn'
              = link_to 'もどる', '#', class: 'back-btn'
= render 'signup/user_footer'